---
permalink: /
title: Introduction
excerpt: none
layout: none
---

<html lang="en">
  {% include head.html %}
  <body class="layout-table-of-contents">
    <a class="a-skip-to-main" href="#main">Skip to main content</a>
    <header role="banner" class="site-header">
      <div class="wrapper">
        <!-- This h1 element has this id because, unless we set it here,
        kramdown will populate it with a value based on the content of the
        element, which results in "18f-content-guide", which is an invalid
        value due to its starting with a numeral. -->
        <h1 id="title-18f-research-guide">{{site.title}}</h1>
        <p>{{site.description}}</p>
      </div>
    </header>
    <main id="main" role="main">
      <div class="page">
        <div class="wrapper">
          <h2>Table of contents</h2>
          <ul>
            <li><a href="/usability-heuristics">Usability test quality heuristics</a></li>
            <li><a href="https://methods.18f.gov">18F Design Methods</a></li>
            <li><a href="https://handbook.18f.gov/design">18F Handbook | Design</a></li>
            <li><a href="https://handbook.18f.gov/research-guidelines/">18F Handbook | Doing research at 18F</a></li>
            <li><a href="https://www.gsa.gov/reference/gsa-privacy-program/privacy-act-statement-for-design-research">GSA&rsquo;s Design Research Privacy Act Statement</a></li>
            <li><a href="https://www.gsa.gov/cdnstatic/design_research_pia_%28signed%29.pdf">GSA&rsquo;s Design Research Privacy Impact Assessment</a></li>
            <li><a href="https://methods.18f.gov/participant-agreement/">Design Research Participant Agreement</a> (<a href="https://docs.google.com/document/d/16qg58Hn92UlXLsi-2taizi7qe5mvQ3LMSkcvyHk8Bdo/edit#heading=h.t28fiit0szpi">Google Doc template</a>)</li>
            <li><a href="https://docs.google.com/drawings/d/107KndQ8St_vaFgb8KvzFNvIdNRQXbbc3XmIkKJm42jg/edit">GSA&rsquo;s PRA Assist Flowchart</a></li>
            <li><a href="https://docs.google.com/document/d/1Z5l0VzHlGsXSfsBN2cpVP3rOaNURa5KPBIOuL-psT60/edit#">GSA PRA Handbook (draft)</a></li>
            <li><a href="https://docs.google.com/document/d/1sKIXC37driNlnSfgde6q7BwEhkEA7RA8sr4S5aC3Uo4/edit#">A Guide to Participating in Fieldwork</a></li>
            <li><a href="https://docs.google.com/document/d/1wJc-neR2nnwSSU9HOWi4bD65Uk_0UeVMcD_w2AlcISg/edit#">Getting started with the GSA Recruiter</a></li>
            <li><a href="https://docs.google.com/document/d/1s3BjLrI_FUy0hAr9dgD_PTqk0WuieqqVyi7Er4BEtNQ/edit">Anti-deficiency act and user research</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/125wXXhVKTf7L_xoEyx2_SwoPop-wTsea0ump1P8NMZM/edit#gid=0">Getting Started with UX resources</a></li>
            <li><a href="https://docs.google.com/document/d/1Xp4LxbW6cx61rXrsnnfIPCz6cglovHzZeEjCcnpIeaM/edit#">Principles and Practices for 18F Researchers (deprecated)</a></li>
            <li><a href="https://docs.google.com/document/d/1Y32VlziDeHXdIbor9JZE0ctNkD3meGjWWljlURXHDqM/edit#">Observer role guide</a></li>
            <li><a href="https://github.com/18F/Design-Wiki">Design Wiki</a></li>
            <li><a href="https://playbook.cio.gov/#play1">US Digital Service Playbook - Play 1</a></li>
            <li><a href="https://gsablogs.gsa.gov/gsablog/files/2017/10/HCD-Discovery-Guide-Interagency-v1.2-1.pdf">GSA+OPM Human-Centered Design Discovery Stage Field Guide</a></li>
          </ul>
        </div>
      </div>
    </main>
    {% include site-footer.html %}
  </body>
</html>
